.circular{
    left: 50%;
    top: 50%;
    position: fixed;
}
.hquotes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quotes{
    
}
.allfirst{
    margin-top: 2em;
}
.allsecond{
    margin-top: 6em;
}
.author{
    text-transform: capitalize;
    color: seagreen;
}
.text{
    color: purple;
    font-style: italic;
    font-size:larger ;
    padding-left: .3em;

}