.nav{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
.links{
    display:inline-block;
}
.innerlinks{
    text-transform: uppercase;
    text-decoration: none;

}
.innerlinks:hover{
    border-bottom: 2px solid purple;
}
.innerlinks:hover:active{
    color: purple;
    font-weight: bolder;
}
.icon{
    display: none;
}

@media screen and (max-width:1200px) {
    .nav{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
}

@media screen and (max-width:900px) {
    .nav{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3em;
        margin-bottom: 3em;
       
    }
    
}
@media screen and (max-width:800px) {
   .navigation{
    display: flex;
   }
}
@media screen and (max-width:500px) {
    
}
@media screen and (max-width:300px) {
    
}
@media screen and (max-width:200px) {
    
}