.circular{
    left: 50%;
    top: 50%;
    position: fixed;
}
.hword{
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    color: seagreen;
    text-transform: capitalize;
    padding: .7em;

}
.word{
   text-transform: capitalize;
    padding-left: .1em;

}
.dailyword{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
   
}
.mean{
    color: purple;
    padding: .1em;
}
.first{
    margin-bottom: .4em;
}
.second{
    margin-bottom: .4em;
}
.third{
    margin-bottom: .4em;


}
.alldata{
    margin-top: 7%;
    margin-bottom: 20%;
    align-items: center;
    justify-content: center;
    
    
   
}

@media screen and (max-width: 900px) {
    .dailyword{
        margin-left: 16%;
        margin-right: 16%;
        align-items: center;
        justify-content: center;
        font-size: large;
       
    }
}
@media screen and (max-width: 700px) {
    .dailyword{
        margin-left: 14%;
        margin-right: 14%;
        align-items: center;
        justify-content: center;
        font-size: medium;
       
    }
}
@media screen and (max-width: 500px) {
    .dailyword{
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: center;
        font-size: small;
       
    }
}
@media screen and (max-width: 300px) {
    .dailyword{
        margin-left: 8%;
        margin-right: 8%;
        align-items: center;
        justify-content: center;
        font-size: smaller;
       
    }
}
@media screen and (max-width: 200px) {
    .dailyword{
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        justify-content: center;
        font-size: x-small;
       
    }
}